auth:
  existingSecret: "redis-acl"
  existingSecretPasswordKey: "adminUser"
  acl:
    enabled: true
    users:
      - username: "r2devops"
        enabled: "on"
        commands: "+@all"
        keys: "~*"
        channels: "&*"
    userSecret: "redis-acl"

global:
  default:
    storageClass: "longhorn"

master:
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 10Gi

replica:
  replicaCount: 3
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 10Gi

networkPolicy:
  enabled: true
  allowExternal: true

clusterDomain: k8s-demo-01.local