global:
  defaultStorageClass: "longhorn"

architecture: replication
auth:
  enabled: true
  existingSecret: "redis-acl"
  existingSecretPasswordKey: "adminUser"
  usePasswordFiles: true

# extraDeploy:
# - apiVersion: secrets.hashicorp.com/v1beta1
#   kind: VaultStaticSecret
#   metadata:
#     name: vault-ss-redis-dev  # ss pour static secret
#     namespace: redis-cluster
#     annotations:
#       "helm.sh/hook": pre-install,pre-upgrade,pre-rollback
#       "helm.sh/hook-weight": "-10"
#   spec:
#     # vaultAuthRef: default # dans les helm values on a activé le defaultAuthMethod
#     type: kv-v2
#     mount: kv-rke2-tools-dev
#     path: databases/no-sql/redis-dev
#     refreshAfter: 60s  # toutes les 60s vso synchronise avec vault
#     destination:
#       create: true
#       name: redis-root-secret
#       type: Opaque
#       transformation:
#         excludeRaw: true  # la clé _raw  n'apparaitra pas dans le secret k8s

master:
  count: 1
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  extraVolumes:
  - name: redis-acl-list
    secret:
      secretName: redis-acl-list
  extraVolumeMounts:
    - name: redis-acl-list
      readOnly: true
      subPath: users.acl
      mountPath: "/etc/redis/users.acl"
  commonConfiguration:
    aclfile /etc/redis/users.acl

replica:
  replicaCount: 2
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 1Gi

clusterDomain: k8s-demo-01.local

image:
  debug: true
