architecture: replication
replicaCount: 3  # 1 master + 2 replicas
sentinel:
  enabled: false

auth:
  enabled: true
  existingSecret: "redis-acl"
  existingSecretPasswordKey: "adminUser"
  acl:
    enabled: true
    users:
      - username: "r2devops"
        enabled: "on"
        commands: "+@all"
        keys: "~*"
        channels: "&*"
    existingSecret: "redis-acl"
    existingSecretACLKey: "r2devops"