auth:
  existingSecret: "redis-acl"
  existingSecretPasswordKey: "adminUser"
  acl:
    enabled: true
    users: 
      - username: "r2devops"
        password: ""
        enabled: "on"
        commands: "+@all"
        keys: "~*"
        channels: "&*"
    userSecret: "redis-acl"

global:
  default:
    storageClass: "longhorn"

clusterDomain: k8s-demo-01.local