architecture: replication
replicaCount: 2

sentinel:
  enabled: true
  quorum: 2
  downAfterMilliseconds: 30000
  failoverTimeout: 180000

auth:
  enabled: true
  existingSecret: "redis-acl"
  existingSecretPasswordKey: "adminUser"

clusterDomain: k8s-demo-01.local